<html lang="en">
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8">
	</head>

	<header>
		<h1> {{title}} </h1>
		<hr>
	</header>

	<body>
		<p> body text </p>
	</body>

</html>
